.layout {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 100vh;
  max-width: 2000px;
  margin: 0 auto;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 2000px;
  padding: 20px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cockpit {
  position: fixed;
  z-index: 1;
  width: 45%;
  max-width: 1000px;
  top: 30px;
  left: 10px;
  mix-blend-mode: color-burn;
  opacity: 0.35;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  position: relative;
  z-index: 10;
  padding: 0 20px;
}

.nav {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

.nav h1 {
  font-size: 36px;
  background-color: var(--box-bg);
  border-radius: 20px;
  padding: 5px 10px;
}

.nav a {
  text-decoration: none;
  color: var(--text-color);
}

.nav a:hover {
  filter: brightness(1.2);
}
