.layout {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 100vh;
}

.title {
  font-size: 36px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button {
  height: 40px;
  padding: 0 10px;
}

.connectedButton {
  padding: 5px 10px 5px 5px;
}

.connectedButton p {
  font-family: monospace;
}

.cockpit {
  position: fixed;
  width: 45%;
  max-width: 1000px;
  top: 30px;
  left: 10px;
  mix-blend-mode: color-burn;
  opacity: 0.35;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.connectedAccount {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}

.blockie {
  height: 100%;
}
