.layout {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 100vh;
}

.title {
  font-size: 36px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cockpit {
  position: absolute;
  width: 45%;
  max-width: 1000px;
  top: 30px;
  left: 10px;
  mix-blend-mode: color-burn;
  opacity: 0.35;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
