.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  width: 72%;
  max-width: 2000px;
  margin: 0 auto;
}

/* @media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
} */
