.itemContainer {
  border-radius: 20px;
  background-color: var(--box-bg);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  aspect-ratio: 1/1;
  width: 250px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header p {
  display: inline-block;
  border-radius: 10px;
  background-color: var(--box-bg);
  padding: 2px 8px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.tokenId {
  max-width: 30%;
  font-family: monospace;
}

.tokenName {
  max-width: 68%;
}

.main {
  height: 63%;
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.main .image {
  object-fit: contain;
  object-position: top;
  height: min-content;
  max-height: 100%;
  border-radius: 10px;
}

.noImage {
  width: 50%;
  height: 100%;
  background-color: var(--box-bg);
  border-radius: 10px;
}

.noImage::after {
  content: "?";
  height: 100%;
  width: 100%;
  font-size: 5em;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoItem {
  font-size: 12px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  background-color: var(--box-bg);
  padding: 2px 8px;
}

.address {
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}

.address:hover {
  filter: brightness(1.2);
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}
